html,
body {
    background-color: #fff;
}

header {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 3px 6px rgba(4, 0, 0, .17);
    border-bottom: none;
}

header .logo {
    color: #000;
}

header nav ul li a {
    color: #333;
}

footer {
    background-color: rgba(255, 255, 255, 1);
    color: #666;
}

.page {
    border-bottom: 1px solid #ccc;
}

.side {
    border-top: 1px solid #eaeaea;
}

.side>div {
    border-color: #eaeaea;
    background-color: rgba(255, 255, 255, 1);
}

.side a {
    color: #333;
}

.side a:hover {
    color: #fff;
    background-color: #FFCA33;
}

.side-hiden .title {
    background-color: #fff;
    color: #333;
}

.side-hiden .qq:hover {
    color: #fff;
    background-color: #666;
}


/*pageLast*/

.pageLast .title h2 {
    color: #333;
}

.myInfo h3 {
    color: #333;
}

.myInfo .link>div {
    border-color: #EAEAEA;
}

.myInfo .link>div:hover {
    background-color: #FFCA33;
    border-color: #FFCA33;
}

.myInfo .link>div:hover a {
    color: #fff;
}

.contact p .inputtxt {
    color: #333;
    border-color: #EAEAEA;
}

.contact p .inputtxt.submit {
    color: #333;
    border-color: #EAEAEA;
}

.contact p .inputtxt.submit:hover {
    color: #fff;
    border-color: #FFCA33;
    background-color: #FFCA33;
}