html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* height: auto; */
}


/*==============header===================*/

html,
body {
    background-color: rgba(28, 28, 28, 1);
}


/* body {
    padding-top: 60px;
} */

header {
    width: 100%;
    height: 60px;
    background-color: rgba(28, 28, 28, 0.5);
    border-bottom: #232323 1px solid;
}

header .top-logo a {
    display: block;
    /*background-color: skyblue;*/
    height: 60px;
    line-height: 60px;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
}

header nav {
    overflow: hidden;
    /*background-color: orange;*/
}

header nav ul li {
    float: left;
    display: block;
    padding: 0 20px;
    width: 20%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

header nav ul li a {
    display: block;
    width: 100%;
    font-size: 16px;
    color: #fff;
}


/*=============================*/


/* ============swiper-style============ */


/* ===================================== */


/*============内容=================*/

.pageBox {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 1s ease-in-out 0s;
}

.page {
    padding: 100px 0px 40px;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #666;
    box-sizing: border-box;
    transition: all 1s ease-in-out 0;
}

.page:nth-child(2n+1) {
    background-color: rgba(50, 50, 50, 0.2);
}

.spotNav {
    width: 40px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.spotNav ul li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #000;
    margin: 5px;
}


/*=====================================*/


/*==================footer=====================*/

footer {
    z-index: 999;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: rgba(28, 28, 28, 0.5);
    color: #fff;
}

footer p {
    text-align: center;
    font-size: 14px;
    line-height: 40px;
}


/*===============================================*/


/*====================side===========================*/

.side {
    position: fixed;
    right: 20px;
    bottom: 60px;
    width: 40px;
    border-top: 1px solid #7F7F7F;
    transition: all 0.6s ease 0s;
}

.side>div {
    border-top: none;
    border: 1px solid #7F7F7F;
    border-top: none;
    background-color: rgba(50, 50, 50, 1);
}

.side a {
    display: block;
    font-size: 16px;
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #7F7F7F;
    transition: all 0.6s ease 0s;
}

.side a:hover {
    color: #fff;
    background-color: #666;
}

.side .mobile-icon a,
.side .toTop a {
    font-size: 24px;
}

.side .wx-icon {
    position: relative;
    transition: all 0.6s ease 0s;
    -moz-transition: all 0.6s ease 0s;
    /* Firefox 4 */
    -webkit-transition: all 0.6s ease 0s;
    /* Safari 和 Chrome */
    -o-transition: all 0.6s ease 0s;
    /* Opera */
}

.side .toTop {
    transition: all 0.5s ease 0s;
    opacity: 0;
}

.side-hiden {
    position: fixed;
    font-size: 14px;
    right: -200px;
    bottom: 200px;
    width: 200px;
    box-shadow: 0 5px 9px rgba(4, 0, 0, .17);
    transition: all 0.6s ease 0s;
    -moz-transition: all 0.6s ease 0s;
    /* Firefox 4 */
    -webkit-transition: all 0.6s ease 0s;
    /* Safari 和 Chrome */
    -o-transition: all 0.6s ease 0s;
    /* Opera */
}

.side-hiden .title {
    padding: 20px;
    background-color: #333;
    color: #fff;
    position: relative;
}

.side-hiden .title .close-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    right: 20px;
    height: 40px;
    width: 40px;
    transform-style: preserve-3d;
    cursor: pointer;
    transition: all 0.6s ease 0s;
    -moz-transition: all 0.6s ease 0s;
    /* Firefox 4 */
    -webkit-transition: all 0.6s ease 0s;
    /* Safari 和 Chrome */
    -o-transition: all 0.6s ease 0s;
    /* Opera */
}

.side-hiden .title .close-btn:hover {
    transform: translateY(-50%) rotate(90deg);
    -webkit-transform: translateY(-50%) rotate(90deg);
}

.side-hiden .title .close-btn span {
    display: block;
    background-color: #fff;
    width: 20px;
    height: 3px;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
}

.side-hiden .title .close-btn span:nth-child(1) {
    transform: translate(-50%, -50%) rotate(45deg);
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
}

.side-hiden .title .close-btn span:nth-child(2) {
    transform: translate(-50%, -50%) rotate(-45deg);
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
}

.side-hiden .qq {
    line-height: 40px;
    padding: 0 40px;
    /*text-align: center;*/
    position: relative;
    background-color: #e2e2e2;
    transition: all 0.6s ease 0s;
    -moz-transition: all 0.6s ease 0s;
    /* Firefox 4 */
    -webkit-transition: all 0.6s ease 0s;
    /* Safari 和 Chrome */
    -o-transition: all 0.6s ease 0s;
    /* Opera */
}

.side-hiden .qq i {
    margin-right: 20px;
}

.side-hiden .qq:hover {
    color: #fff;
    background-color: #666;
}

.side-hiden .phone {
    line-height: 24px;
    /*text-align: center;*/
    position: relative;
    background-color: #fff;
    padding: 16px 40px;
}

.side-hiden .phone p:nth-child(2) {
    text-align: center;
}

.side-hiden .phone i {
    margin-right: 20px;
    font-size: 18px;
}

.wx-code {
    display: none;
    overflow: hidden;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.6);
}

.wx-code .code-pic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px 20px 0 20px;
}

.wx-code .code-pic p {
    line-height: 40px;
    text-align: center;
}

#openAssist {
    position: fixed;
    bottom: 40px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: #3b3b3b;
    z-index: 99;
    border-radius: 50%;
    color: #eee;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    transition: all 0.6s ease 0s;
    -moz-transition: all 0.6s ease 0s;
    /* Firefox 4 */
    -webkit-transition: all 0.6s ease 0s;
    /* Safari 和 Chrome */
    -o-transition: all 0.6s ease 0s;
    /* Opera */
}

a.active {
    transform: rotate(135deg);
}

.assist {
    position: fixed;
    right: 35px;
    bottom: 90px;
}

.assist>div a {
    display: block;
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    z-index: 99;
    color: #eee;
    opacity: 0;
    transform: matrix(0.3, 0, 0, 0.3, 0, 8);
    background-color: #3b3b3b;
    transition: all 0.6s ease 0s;
    -moz-transition: all 0.6s ease 0s;
    /* Firefox 4 */
    -webkit-transition: all 0.6s ease 0s;
    /* Safari 和 Chrome */
    -o-transition: all 0.6s ease 0s;
    /* Opera */
    transform-origin: center bottom;
}

.assist div.active a {
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.pageTitle {
    text-align: center;
    line-height: 30px;
    margin-bottom: 60px;
    position: relative;
}

.pageTitle h2 {
    color: #fff;
    font-size: 30px;
    font-weight: normal;
}

.pageTitle::after {
    content: "CONTACT　ME";
    position: absolute;
    /*top: 40px;*/
    color: #7f7f7f;
    left: 50%;
    transform: translateX(-50%);
}


/* =============page1============== */

.page1 {
    /* height: auto; */
}

.page1 img {
    width: 100%;
}

.carousel {
    overflow: hidden;
    z-index: 1;
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
}

.carousel-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* overflow: hidden; */
}

.carousel-item {
    display: block;
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.inner {
    transition: all 1s ease 0s;
    /* transform: rotateY(90deg) */
}

.ctrlBtn {
    width: 80%;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.ctrlBtn .leftBtn {
    width: 40px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    float: left;
    font-size: 60px;
    cursor: pointer;
}

.ctrlBtn .rightBtn {
    width: 40px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    float: right;
    font-size: 60px;
    cursor: pointer;
}

.spot {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translate(-50%, -50%);
}

.spot ol {
    overflow: hidden;
}

.spot ol li {
    float: left;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    margin: 0 5px;
}

.spot ol li.cur {
    background-color: #000000;
}


/* ============page2============= */

.page2 {}

.page2 .pageTitle::after {
    content: "ABOUT ME"
}


/* =============page3============= */

.page3 {}

.page3 .pageTitle::after {
    content: "I CAN"
}


/* =============page4============= */

.page4 {}

.page4 .pageTitle::after {
    content: "I DID"
}


/*============pageLast=============*/

.pageLast {
    padding-top: 100px;
}

.myInfo h3 {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
}

.myInfo p {
    color: #7F7F7F;
    font-size: 14px;
    line-height: 20px;
}

.myInfo .link {
    padding-top: 30px;
}

.myInfo .link>div {
    font-size: 16px;
    float: left;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #282828;
    margin-right: 20px;
    transition: all 0.6s ease 0s;
    -moz-transition: all 0.6s ease 0s;
    /* Firefox 4 */
    -webkit-transition: all 0.6s ease 0s;
    /* Safari 和 Chrome */
    -o-transition: all 0.6s ease 0s;
    /* Opera */
}

.myInfo .link>div a {
    display: block;
    color: #9e9e9e;
}

.myInfo .link>div:hover {
    background-color: #282828;
    border-color: #282828;
}

.myInfo .link>div:hover a {
    color: #fff;
}

.contact p {
    margin-bottom: 20px;
}

.contact p .inputtxt {
    font-size: 14px;
    background: none;
    padding: 10px 26px;
    border: 1px solid #282828;
    box-shadow: none;
    width: 100%;
    line-height: 22px;
    color: #fff;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    transition: all 0.6s ease 0s;
}

.contact p .inputtxt:hover {
    border: 1px solid #7F7F7F;
}

.contact p .inputtxt.submit {
    font-size: 16px;
    border-color: #383838;
    width: auto;
    cursor: pointer;
    padding-left: 60px;
    padding-right: 60px;
}

.contact p .inputtxt.submit:hover {
    color: #fff;
    border-color: #383838;
    background-color: #383838;
}


/* =========过渡动画=========== */

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        -ms-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none
    }
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none
    }
}

.ani {
    opacity: 0;
}

.ani-slide .ani1-1 {
    opacity: 1;
    -webkit-animation: fadeInDown 0.5s both;
    animation: fadeInDown 0.5s both;
}

.ani-slide .ani1-2 {
    opacity: 1;
    -webkit-animation: fadeInDown 1s 0.5s both;
    animation: fadeInDown 1s 0.5s both;
}

.ani-slide .ani1-3 {
    opacity: 1;
    -webkit-animation: fadeInDown 1s 1s both;
    animation: fadeInDown 1s 1s both;
}

.ani-slide .ani2-1,
.ani-slide .ani3-1,
.ani-slide .ani4-1,
.ani-slide .ani5-1 {
    opacity: 1;
    -webkit-animation: fadeInUp 1s both;
    animation: fadeInUp 1s both;
}

.ani-slide .ani2-2,
.ani-slide .ani3-2,
.ani-slide .ani4-2,
.ani-slide .ani5-2 {
    opacity: 1;
    -webkit-animation: fadeInUp 1s 0.5s both;
    animation: fadeInUp 1s 0.5s both;
}

.ani-slide .ani5-1-2 {
    opacity: 1;
    -webkit-animation: fadeInUp 1s 0.3s both;
    animation: fadeInUp 1s 0.3s both;
}

.ani-slide .ani6-1 {
    opacity: 1;
    -webkit-animation: fadeInDown 0.5s both;
    animation: fadeInDown 0.5s both;
}

.ani-slide .ani6-2 {
    opacity: 1;
    -webkit-animation: fadeInDown 1s 0.5s both;
    animation: fadeInDown 1s 0.5s both;
}

.ani-slide .ani6-3 {
    opacity: 1;
    -webkit-animation: fadeInDown 1s 1s both;
    animation: fadeInDown 1s 1s both;
}


/* ============================= */